<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
</head>

<body>

<div id="chartContainer">

    <h1><%= JSON.stringify(platforms) %> </h1>

</div>




</body>

<script>

$(document).ready(function(){
    d3.select("body").style("background-color", "red");
});
</script>
</html>
